/* Color backgrounds */

/* Image backgrounds */

    /* Food */
    .bg-food-1 {
        background: url('../assets/img/food/01-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-2 {
        background: url('../assets/img/food/02-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-3 {
        background: url('../assets/img/food/03-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-4 {
        background: url('../assets/img/food/04-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-5 {
        background: url('../assets/img/food/05-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-6 {
        background: url('../assets/img/food/06-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-7 {
        background: url('../assets/img/food/07-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-8 {
        background: url('../assets/img/food/10-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-9 {
        background: url('../assets/img/food/12-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-10 {
        background: url('../assets/img/food/13-food-op.png')no-repeat center;
        background-size: cover;
    }