/* Custom button styles */
.form__btn--submit {
    background-color: tomato;
    border: none;
    display: block;
    width: 300px;
    height: 5em;
    line-height: 50px;
    margin: 1em auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
   
}