// #scrolldown {
//   bottom: 40px;
//   height: 100px;
//   margin-left: -50px;
//   position: absolute;
//   left: 50%;
//   text-align: center;
//   width: 100px;
//   z-index: 100;
// }
// #scrolldown p {
//   font: 700 0.7em/1em 'Avenir',sans-serif;
//   -webkit-animation-duration: 2s;
//           animation-duration: 2s;
//   -webkit-animation-fill-mode: both;
//           animation-fill-mode: both;
//   -webkit-animation-iteration-count: infinite;
//           animation-iteration-count: infinite;
//   -webkit-animation-name: scroll;
//           animation-name: scroll;
//   color: #000;
// }
// #scrolldown > p {
//   text-transform: uppercase;
//   text-indent: 3px;
// }
// .mouse {
//   border: 2px solid #000;
//   border-radius: 13px;
//   display: block;
//   height: 46px;
//   left: 50%;
//   margin: 10px 0 0 -13px;
//   position: absolute;
//   width: 26px;
// }
// .mouse span {
//   display: block;
//   font-size: 1.5em;
//   margin: 6px auto;
// }
// @-webkit-keyframes scroll {
//   0% {
//     opacity: 1;
//     -webkit-transform: translateY(0px);
//             transform: translateY(0px);
//   }
//   100% {
//     opacity: 0;
//     -webkit-transform: translateY(10px);
//             transform: translateY(10px);
//   }
// }
// @keyframes scroll {
//   0% {
//     opacity: 1;
//     -webkit-transform: translateY(0px);
//             transform: translateY(0px);
//   }
//   100% {
//     opacity: 0;
//     -webkit-transfoxrm: translateY(10px);
//             transform: translateY(10px);
//   }
// }

body {
  background: #444;
}
.aniWrap {
  margin: 40px auto;
  display: block;
  width: 28px;
}

.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid black;
  border-radius: 14px;
}

.scroller {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: black;
  position: relative;
  top: 10px;
  left: 10px;
  -webkit-animation: scrolls 1.3s ease-out infinite ; /* Chrome, Safari, Opera */
}


@-webkit-keyframes scrolls {
    0%   {top: 10px; opacity: 1; height: 4px}
    95% {top: 18px; opacity: 0; height: 10px}
    100% {top: 8px; opacity: 1; height: 4px}
}